.wrapper {
  position: fixed;
  top: 10px;
  left: 50;
  margin: 0 auto;
  text-align: center;
  color: brown;
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 50%;
  border-radius: 10px;
}
.title {
  margin-right: 40px;
}
