.wrapper {
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 0, 0);
  background-color: rgb(232, 232, 232);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 30px;
}
.title {
  margin-right: 40px;
  font-size: 20px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
