.note-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid greenyellow;
  width: 500px;
  max-height: 100%;
  border-radius: 8px;
}
.note {
  display: flex;
}
.empty {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .note-list {
    width: 100%;
    margin-top: 30px;
  }
}
